@import url("popup.css");
@import url("myButtons.css");

:root {
  --myDarkGray: #2b2b2b;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101010;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.side-menu {
  background-color: var(--myDarkGray);
  width: 150px;
  position: relative;
  min-height: 100dvh;
  z-index: 10;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  &.hidden {
    transform: translateX(-140px);
    position: absolute;
  }

  > i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(84, 84, 84);
    z-index: 100;
    cursor: pointer;
    transition: 0.5s;

    &.rotated {
      transform: rotateZ(-180deg);
    }

    &:hover {
      background-color: black;
    }
  }

  h2 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    gap: 8px;
    margin: 16px;

    li {
      color: #fe9f9f;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 4px 12px;
      background-color: transparent;
      border-radius: 16px;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        transition: 1s;
        background-color: black;
        color: white;
      }
    }
  }
}

.register-container {
  flex-grow: 1;
  position: relative;
  min-width: fit-content;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 10px #00000030;
  transition: transform 1s;
  max-height: 94dvh;
  overflow: auto;

  .config-bar {
    background-color: var(--myDarkGray);
    padding: 8px 16px;
    border-radius: 16px;
  }

  .config-bar-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 12px;
  }
  .config-bar-div > div {
    flex-basis: 50%;
    min-width: 380px;
  }

  label {
    margin-right: 10px;
    font-weight: bold;
  }

  input[type="search"] {
    background-color: var(--myDarkGray);
    padding: 4px 8px;
    border-radius: 8px;
    min-width: 100px;
    color: white;
  }

  input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--myDarkGray);
    color: white;
  }
}

table {
  width: 100%;
  margin-top: 20px;
  background-color: var(--myDarkGray);
  overflow: scroll;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-align: center;
}

th {
  background-color: #0b0b0b;
  font-weight: bold;
  cursor: pointer;
}

.employeeRow.warning {
  > td:nth-child(4) {
    background-color: red;
  }
}

.tdError {
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 1.5rem;
}

tbody .employeeRow:nth-child(even) {
  background-color: #1b1b1b;
}

tbody > .employeeRow:hover {
  background-color: #1eff0062;
}

.edit-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #367c39;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000030;

  .modal-content {
    background-color: #3b3b3b;
    margin: 32px auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px #00000030;
    animation-name: fadeTopToBottom;
    animation-duration: 0.8s;
  }
}

@keyframes fadeTopToBottom {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
}

.modal #editName {
  color: #ffffffa6;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;

  &.close-button:hover,
  &.close-button:focus {
    color: #000;
    text-decoration: none;
  }
}

.modal-body {
  margin-bottom: 20px;
}

.modal-body label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-body input[type="text"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.modal-footer {
  text-align: right;
}

.save-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #367c39;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.sort-icon {
  margin-left: 5px;
  font-size: 0.8em;
}

th.sorted-asc,
th.sorted-desc {
  background: linear-gradient(-45deg, #751b00, #000608, #2f0071);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
